/**
 CSS File
 */

#messages-box {
  padding-bottom: 0;
  height: calc(100% - 30px);
}
html, body {
  font-family: 'Roboto', serif;
}

#messages-line {
  margin-top: 12px;
}

main, #messages-line {
  padding-bottom: 0;
  height: 100%;
}

.mdl-layout__header-row span {
  margin-top: 15px;
  margin-left: 15px;
}

.material-icons {
  top: 7px;
  font-size: 35px;
  position: relative;
}

.grid {
  margin: auto;
  max-width: 1000px;
}

#smss {
  margin-bottom: 10px;
  overflow-y: auto;
  height: calc(100% - 82px);
  flex-direction: column;
  display: flex;
}

#picture {
  width: 45px;
  flex-direction: row;
  float: right;
  display: flex;
}
.mdl-card__supporting-text {
  padding-top: 0;
  width: auto;
  padding-bottom: 0;
  height: 100%;
}

#smss-fill {
  flex-grow: 1;
}

.message-container {
  padding-top: 10px;
  border-top: 1px solid #f3f3f3;
  opacity: 0;
  margin-top: 10px;
  display: block;
  transition: opacity 1s ease-in-out;
}
.mdl-layout__header-row {
  margin: 0 auto;
  padding: 0;
}

.message-container:first-of-type {
  border-top-width: 0;
}

.message-container.visible {
  opacity: 1;
}

.message-container .spacing {
  vertical-align: top;
  display: table-cell;
}
.message-container .message {
  padding: 5px 0 5px 10px;
  display: table-cell;
  width: calc(100% - 40px);
}

h1
{
  color: green;
  text-transform: initial;
  font-size: 50px;
  text-align: center;
  margin-top:100px;
}

#sms-form {
  width: calc(100% - 50px);
  display: flex;
  float: left;
  flex-direction: row;
}

.mdl-card {
  justify-content: space-between;
  background: linear-gradient(white, #f9f9f9);
}

#sms-form .mdl-textfield {
  width: calc(100% - 100px);
}
#sms-form button, #picture button {
  margin: 15px 0 0 10px;
  width: 100px;
}
.mdl-card {
  min-height: 0;
}

h2
{
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin-top:5px;
}


#user-info {
  right: 0;
  display: flex;
  padding-left: 10px;
  top: 22px;
  padding-right: 10px;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
}
#user-info #profile-pic {

  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: 40px;
  top: -3px;
  background-size: 40px;
  border-radius: 20px;
  width: 40px;
}

.logo
{
  margin-top:1%;
  height: auto;
  text-align: center;
}

.message-container .pic {
  height: 30px;
  border-radius: 20px;
  background-repeat: no-repeat;
  width: 30px;
  background-image: url('/images/profile_placeholder.png');
  background-size: 30px;

}

#picture #SendPicture {

  min-width: 0;
  padding: 0 6px 0 1px;
  width: auto;

}

#user-info #profile-name {

  padding-right: 10px;
  font-size: 16px;
  padding-left: 20px;
  line-height: 36px;
}

#picture #SendPicture .material-icons {
  top: -1px;
}
.message img {

  max-height: 200px;
  max-width: 300px;
}
#upload {
  display: none;
}

.mdl-textfield__label:after {
  background-color: #0288D1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}
.mdl-button .material-icons {

  margin-right: 5px;
  top: -1px;
}
@media screen and (max-width: 610px) {
  header {

    padding-bottom: 80px !important;
    height: 111px;
  }
  #user-info {

    padding-right: 2px;
    height: 38px;
    padding-top: 3px;
    top: 72px;
    background-color: rgb(3,155,229);
  }

  #user-info #profile-pic {
    top: 2px;
    height: 33px;
    width: 33px;
    background-size: 33px;
  }
}


.message-container .name {
  display: inline-block;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  color: #bbb;
  padding-left: 40px;
  font-size: 12px;
}

.title{
  position: absolute;
  width: 1200px;
  margin-left: 0px;

}